body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    color: #333;
}

body.dark-mode {
    background-color: #121212;
    color: #ddd;
}

header {
    background-color: #4caf50;
    color: white;
    padding: 0px 15px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .dark-mode-label {
    display: flex;
    align-items: center;
    color: white;
    font-size: 1em;
}

header .dark-mode-label input {
    margin-left: 10px;
}

body.dark-mode header {
    background-color: #333;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
}

body.dark-mode footer {
    background-color: #1a1a1a;
}

main {
    padding: 20px;
}

.posts {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.post {
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    width: 60vw;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.post img {
    max-width: 100%;
    max-height: 85vh;
    border-radius: 8px;
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body.dark-mode .post {
    background: #1e1e1e;
    border: 1px solid #555;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
}

.subreddit {
    font-weight: bold;
    color: #555;
}

body.dark-mode .subreddit {
    color: #bbb;
}

.timestamp, .votes {
    font-size: 1em;
    color: #777;
}

body.dark-mode .timestamp, body.dark-mode .votes {
    color: #aaa;
}

.quiz {
    margin-top: 50px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 0.3s;
}

.quiz h3 {
    margin-bottom: 20px;
}

body.dark-mode .quiz {
    background-color: #1e1e1e;
    color: #ddd;
}

.option-btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s, color 0.3s;
}

.option-btn:hover {
    background-color: #45a049;
}

body.dark-mode .option-btn {
    background-color: #2e7d32;
    color: #ddd;
}

body.dark-mode .option-btn:hover {
    background-color: #388e3c;
}

#dark-mode-toggle {
    background-color: #2563eb;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#dark-mode-toggle:hover {
    background-color: #1e40af;
}

.toggle-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Switch styling */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    border-radius: 50%;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #2563eb;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

/* Sun and Moon Emojis */
.emoji {
    font-size: 1.5rem;
    transition: opacity 0.3s ease;
    display: flex;
    align-items: center;
}

#sun, #sun2 {
    opacity: 1;
}

#moon, #moon2 {
    opacity: 0;
}

.dark-mode #sun, .dark-mode #sun2 {
    opacity: 0;
}

.dark-mode #moon, .dark-mode #moon2 {
    opacity: 1;
}

.questions {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.question {
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    /* width: 60vw; */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
}

body.dark-mode .question {
    background: #1e1e1e;
    border: 1px solid #555;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
}

main h1 {
    margin-top: 50px;
    text-align: center;
}

.back {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    background-color: #f1f1f1;
    color: black;
}

.back:hover {
    background-color: #b6b4b4;
    transform: scale(1.05);
}

.round {
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h3 {
    margin: 15px;
}

form {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 20px auto;
}

body.dark-mode form {
    background-color: #1e1e1e;
    border: 1px solid #555;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
}

form label {
    font-weight: bold;
    display: block;
    margin: 10px 0 5px;
    color: #333;
}

body.dark-mode form label {
    color: #ddd;
}

form input[type="text"], form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    color: #333;
    background-color: #fff;
    box-sizing: border-box;
    outline: none;
}

body.dark-mode form input[type="text"], body.dark-mode form textarea {
    background-color: #2c2c2c;
    border: 1px solid #444;
    color: #ddd;
}

form input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
}

form input[type="submit"]:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

body.dark-mode form input[type="submit"] {
    background-color: #2e7d32;
}

body.dark-mode form input[type="submit"]:hover {
    background-color: #388e3c;
}

form input[type="radio"] {
    margin-right: 10px;
    accent-color: #4CAF50;
    transform: scale(2);
}

body.dark-mode form input[type="radio"] {
    accent-color: #2e7d32;
}

form input[type="radio"] + label {
    display: inline-block;
    margin-right: 15px;
}

.radios {
    display: block;
    margin-bottom: 20px;
    margin-left: 1px;
}

.radios label {
    font-weight: normal;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    font-size: 1em;
    color: #333;
    outline: none;
}

body.dark-mode select {
    background-color: #1e1e1e;
    color: #ddd;
    border: 1px solid #555;
}

select:hover {
    cursor: pointer;
}

.alert {
    padding: 15px;
    margin: 10px auto;
    border-radius: 5px;
    font-size: 1em;
    font-weight: bold;
    width: 90%;
    max-width: 600px;
    text-align: center; 
}